﻿@{
    ViewBag.Title = "New";
}
    @{Html.RenderPartial("Header");}
        <title>Wallpapers</title>
    </head>
    <body>
       @{Html.RenderPartial("UserBar");}
        <div id="container">
            @{Html.RenderPartial("_MoreWallpapers");}   
        </div>
    </body>
    @Scripts.Render("~/bundles/scripts")
    @{Html.RenderPartial("Footerless");}
</html>