﻿@using Boyyoka.ViewModels
@{Html.RenderPartial("Header");}
    <title>Profile</title>
</head>
<body class="overflow_hidden">
   @{Html.RenderPartial("UserBar");}
    <div id="wrapper">
        <div id="usr_prf_content">
            <div id="usr_name">
                    <div class="title_usr">Cam Geronimo</div><!-- pls hardcoded -->
                </div>
            <div id="usr_left">
               
                <div id="avatar_wrap">
                    <img src="/Content/Images/camgeron.jpg" />       
                </div>
                <div class="clear"></div>
                <p><b>Details:</b></p>
                <ul class="user_details">
                    <li>Registered <div class="right">2 years ago</div></li>
                    <li>Profile views <div class="right">1036</div></li>
                    <li>Forum posts <div class="right">42</div></li>
                    <li>Commented profiles <div class="right">3</div></li>
                    <li>Tagged wallpapers <div class="right">2276</div></li>
                    <li>Flagged wallpapers <div class="right">456</div></li>
                </ul>
                <div class="clear"></div>
                <div class="frm_div"></div>
                 <ul class="user_details">
                    <li><b>GroupHomes</b>(30)</li>
                    <li><b>Uploaded wallpapers</b>(204)</li>
                    <li><b>Starred wallpapers</b>(4795)</li>
                    <li><b>Subscribed profiles</b>(66)</li>
                    <li><b>Subscribed collections</b>(7)</li>
                </ul>
                <div class="clear"></div>
                <div class="frm_div"></div>
                   <ul class="user_details">
                    <li><b>My account</b></li>
                    <li>Subscribtions</li>
                    <li>Account settings</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div id="usr_right">
                <div id="sticky_wrap">
                    <div id="sticky_wall">
                        <img class="sticky" src="/Wallpapers/Madama-Butterfly-logo.jpg" />
                    </div>
                </div>
                <div id="comments_wrap">
                    <div class="comment">
                        <div class="comment_details">
                            <ul class="details">
                                <li><img src="@Url.Content("/Content/Images/Flags/Aruba.png")" /></li>
                                <li><img src="@Url.Content("/Content/Images/star.png")"></li>
                                <li><b>NickiMinaj JK iggy igelazal</b></li>
                                <li class="small">9 months ago</li>
                            </ul>
                        </div>
                        <div class="comment_avatar">
                            <img src="@Url.Content("/Wallpapers/wallpaper-445709.jpg")" />
                        </div>
                        <div class="comment_content">
                            <div class="comment_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labo
                            </div>
                            <input placeholder="Write a reply..." class="comment_reply" />
                            
                        </div>
                        <div class="mr_cheat"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript">
        //portrait
        $(window).load(function () {
            resizeSticky();

            $('img', '.comment_avatar').each(function () {

                var w = 180, h = 180;

                var tW = $(this).width();
                var tH = $(this).height();

                console.log(tH, tW);
                if(tH / tW < h / w){
                    r = h / tH;
                    
                    var marginLeft = Math.floor((w - (tW / r)) / 2) + 'px';
                    $(this).css({
                        'margin-left': marginLeft
                    });
                }
            });
        });
        $(window).on('load', function () {
            //widescreen
            function resizeSticky() {

                var w = $('#sticky_wall').width();
                var h = $('#sticky_wall').height();

                var tH = parseFloat($('img.sticky').css('height'));
                var tW = parseFloat($('img.sticky').css('width'));

                if ((tW / tH) < (w / h)) {
                    var r = w / tW;
                    var marginTop = Math.floor((h - (tH * r)) / 2) + 'px';
                    $('img.sticky').css({
                        'height': tH * r,
                        'width': w,
                        'margin-left': 0,
                        'margin-top': marginTop,
                        'position': 'absolute'
                    });
                }
            }
            $(window).on('resize', function () {
                resizeSticky();
            });
        });
    </script>
</body>
</html>
