﻿@using Boyyoka.ViewModels
@{
    ViewBag.Title = "Upload";
}
@{Html.RenderPartial("Header");}
    <title>Upload</title>
</head>
<body>
    @{Html.RenderPartial("UserBar");}
    <div id="wrapper">
       
        <div id="container">
            <h2 class="upload_h2">Upload the Boy in the Yoka!</h2>
            <div class="clear"></div>
      
            @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { @class="form_wrap", @id = "dropzoneForm"}))
            {
                @Html.AntiForgeryToken()               
            }
            <div class="attr_group">            
                <div class="attr_right">
                    <input class="c_btn" type="submit" value="Upload" />  
                </div>    
                <div class="clear"></div>    
            </div>             
</div>
@Scripts.Render("~/bundles/scripts")
<script src="@Url.Content("/Content/Scripts/dropzone.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var i = 0;
        var onlyWhiteSpace = false;
        $('#dropzoneForm').dropzone({
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 25,
            thumbnailWidth: 250,
            thumbnailHeight: 180,
            addRemoveLinks: true,
            maxFiles: 50,
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            init: function () {
                var submitButton = document.querySelector("input.c_btn");
                var myDropzone = this; //closure
                submitButton.addEventListener("click", function () {
                    myDropzone.options.autoProcessQueue = true;
                    //tell Dropzone to process all queued files
                    myDropzone.processQueue();
                });
            },
            error: function (file, message) {
                var _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
                var _results = [];
                var node;
                for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                    node = _ref[_i];
                    _results.push(node.textContent = message);
                }
                $(".dz-error-message").css("display", "block");
                return results;
            },
            success: function (file, response) {
                //2beimplemented
            },
            queuecomplete: function () {
                var myDropzone = this; //closure
                myDropzone.options.autoProcessQueue = false;
            },
            renameFilename: function (filename) {
                var newName = i + filename;
                i++;
                return newName;
            }
        });

        $('#dropzoneForm').on('keypress', 'input.tag_input', function (e) {
            if (e.which == 13) {
                e.preventDefault();

                if ($.trim($(this).val()).length > 0) {

                    var tags = [];
                    var t = $(this);//input box
                    var val = $(t).val();//value of input

                    //multiple tags are separated by a comma
                    $.each(val.split(","), function () {
                        //only add the tag to the array if it's not empty
                        if (($.trim(this)).length > 0) {
                            tags.push($.trim(this));
                        }
                        else {
                            $(t).val() = "";
                        }                   
                    });
                    $(t).parent().slideUp(function () {
                        createTag(t, tags);
                    });
                    $(t).parent().parent().prev().fadeIn(300);
                }
                else {
                    $(this).parent().slideUp(150);
                    $(this).parent().parent().prev().fadeIn(300);
                }
            }
            
        });

        //delete tag
        $('#dropzoneForm').on('click', '.tag_wrap', function () {
            var parentContainer = $(this).parent();
            $(this).remove();
            //we compare it to 1 because the parent always has 1 child by default which is not even a tag_wrap
            if ($(parentContainer).children().length == 1) {
                parentContainer.before($("<div class=\"add_tag\">\n<div class=\"add_tag_hover\">add tag</div></div>\n").hide().fadeIn(300));
            }
        });

        $('#dropzoneForm').on('click', 'div.add_tag', function () {
            $(this).fadeOut(300);
            //in this case prev() is the text box where tags are being added
            $(this).next('.tags').children('.tags_container').slideDown(function () {
                $(this).children('.tag_input').focus();
            });
        });

        //show hidden tags etc
        $('#dropzoneForm').on('click', '.tag_opts_btn', function () {
            $(this).prev().slideToggle();
        });

        $('#dropzoneForm').on('click', '.item_label', function () {
            switch ($(this).text()) {
                case "Add new tag":
                    $(this).parent().parent().siblings('.add_tag').fadeOut(300);
                    //in this case prev() is the text box where tags are being added
                    $(this).parent().parent().siblings('.tags').children('.tags_container').slideDown(function () {
                        $(this).children('.tag_input').focus();
                    });
                    break;
                case "Show/Hide Tags":
                    var height = $(this).parent().parent().siblings('.tags').height();
                    
                    if (height < 40) {
                        $(this).parent().parent().siblings('.tags').animate({ height: '173px' });
                    }
                    else if (height > 40) {
                        $(this).parent().parent().siblings('.tags').animate({ height: '33px' })
                    }
                    break;
                case "Tag all uploads":
                    if ($(this).parent().parent().siblings('.tags').find('.tag_wrap').length > 0) {
                        var uploads = $(this).parent().parent().parent().siblings('.dz-preview');
             
                        var tags = [];
                        var tag_wraps = $(this).parent().parent().siblings('.tags').find('.tag_wrap');
                        $(tag_wraps).each(function () {
                            tags.push($(this).find('.tag_mid'));
                        });
                        $(uploads).each(function () {
                            for (var i = 0; i < tags.length; i++) {
                                if (!$(this).find('.tag_mid').is(':contains("'+tags[i].text()+'")')) {
                                    $(this).find('.tags').append('<div class=\"tag_wrap\">\n <div class=\"tag_left\"></div>\n<div class=\"tag_mid\">' +
                                        tags[i].text() + '</div>\n<div class=\"tag_right\"></div>\n</div>');
                                }
                                else {
                                    //console.log('tag ' + tags[i].text() + ' already got added bruv')
                                }
                            }                 
                            $(this).find('.add_tag').fadeOut(300, function () {
                                $(this).remove();
                            });                        
                        });
                    }
                    else {
                        //console.log("no tags found sry");
                    }
                    break;
            }
        });
        
        $('#dropzoneForm').on('focusout', '.tag_input', function () {
          
            $(this).parent().slideUp(150);
            $(this).parent().parent().prev().fadeIn(300);
        });

        function addTag() {
            $(this).fadeOut(300);
            //in this case prev() is the text box where tags are being added
            $(this).prev().slideDown();
        }

        //create the tag and append to the uploaded image
        function createTag(t, tags) {
            var tagElements = [];
            var hiddenTagElements = [];
            var tagElement;
            var container = $(t).parent().parent().parent();
            for (var i = 0; i < tags.length; i++) {
                tagElement = $('<div class=\"tag_wrap\">\n <div class=\"tag_left\"></div>\n<div class=\"tag_mid\">' +
                                    tags[i] + '</div>\n<div class=\"tag_right\"></div>\n</div>').appendTo($(t).parent().parent());
            }
         
            tagElements.push(tagElement);
            if (checkWidth(container, tagElements, hiddenTagElements)) {
                //implement the popup that hidden tags have been added here
            }
            $(t).val('');
            $('.add_tag', container).fadeOut(300, function () {
                $(this).remove();
            });
        }

        //check at what tag the container width is exceeded so that the current tag and the following tags can be added to hiddenTags array
        function checkWidth(container, elements, hiddenTags) {
            var totalWidth = 0;
            var containerWidth = $(container).width();
            for (var i = 0; i < elements.length; i++) {
                totalWidth += $(elements[i]).width();
                //found the tag that exceeds the width of the container, thus we can immediately push the remaining tags in the hiddenTags
                if (totalWidth >= containerWidth) {
                    for (var j = i; j < elements.length; j++) {
                        hiddenTags.push(elements[j]);
                    }
                    return true;
                }
            }
            return false;
        }
    });
</script>
</body>
</html>
