﻿/*will delete later begin*/
.soon {
    height: 100%;
}
/*will delete later end*/

/*responsive design begin*/
@media screen and (min-width: 960px) {
    body {
        min-width: 960px;
    }
    #mid_content {
        min-width: 960px;
    }
    #top_content {
        width: 960px;
    }
    .content_wrap {
        width: 960px;
    }
    #s_mid {
        width: 95%;
    }
    #a_opts_wrap {
        width: 100%;
    }
    .a_opts_sect {
        max-width: 280px;
    }
    .a_opts_sect_mid {
        max-width: 278px;
        height: 200px;
        border-left: 1px solid #373737;
        border-right: 1px solid #373737;
    }
    #top_content ul.menu {
        width: 614px;
    }
    ul.menu li {
        height: 40px !important;
    }
        ul.menu li a {
            font-size: 18px;
            padding: 0 0 15px;
        }
    img.hot {
        bottom: 12px;
    }
    img.new {
        bottom: 13px;
    }
    img.random {
        bottom: 18px;
    }
    img.community {
        bottom: 12px;
    }
    ul.pagination {
        right: 40px;
        bottom: -10px;
    }
    div#hamburger_menu {
        display: none;
    }
    #user_bar_phat > .s_wrap_small, div#hamburger {
        display: none;
    }
    #s_mid_small {
        width: 220px;
    }
}
@media screen and (max-width: 960px) {

    body {
        min-width: 320px;
    }

    #mid_content {
        min-width: 320px;
    }

    #top_content {
        min-width: 320px;
    }

    .content_wrap {
        min-width: 320px;
    }

    #s_mid {
        min-width: 200px;
        width: 94%;
    }

    #a_opts_wrap {
        width: 100%;
    }

    .a_opts_sect_mid {
        height: 97px;
        border: none;
    }

    #top_content ul.menu {
        width: 614px;
    }

    ul.menu li {
        height: 40px !important;
    }

        ul.menu li a {
            font-size: 18px;
        }

    img.hot {
        bottom: 12px;
    }

    img.new {
        bottom: 13px;
    }

    img.random {
        bottom: 18px;
    }

    img.community {
        bottom: 12px;
    }

    .content_box_wrap {
        min-width: 98%;
    }

    ul.pagination {
        right: 0;
        bottom: -28px;
    }

        ul.pagination li:nth-child(11) {
            content: '';
            display: block;
            clear: both;
        }

        ul.pagination li:nth-child(n+11) {
            float: left;
            left: 0;
            bottom: 322px;
        }

    #user_bar_phat .f_right {
        display: none;
    }
    div#hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 5px;
        height: 45px;
        width: 45px;
        cursor: pointer;
        font-size: 32px;
    }

        div#hamburger:hover, div#hamburger:focus {
            color: #FFF;
        }

    div#hamburger_menu {
        display: none;
    }

    div#hamburger_menu {
        background: #343436;
        position: absolute;
        right: 0;
        top: 55px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 120px;
        z-index: 1000;
    }

    #user_bar_phat ul.hamburger li {
        width: 96%;
        margin: 0;
        padding: 2%;
    }
    #user_bar_phat > .s_wrap_small {
    width: 165px;
}
    .s_wrap_small {
        right: 40px;
    }
    .s_wrap_small .expand {
        visibility: visible;
    }
    #s_mid_small {
        width: 140px;
    }
}

@media screen and (max-width: 760px) {
    #s_mid {
         width: 93%;
    }
    #top_content ul.menu {
        width: 85%;
    }
    ul.menu li {
        height: 45px !important;
    }
        ul.menu li:nth-child(3) {
            content: '';
            display: block;
            clear: both;
        }
        ul.menu li a {
            padding: 0 0 20px;
        }
    a img.hot {
        bottom: 17px;
    }
    a img.new {
        bottom: 18px;
    }
    a img.random {
        bottom: 23px;
    }
    a img.community {
        bottom: 17px;
    } 
    ul.menu li:nth-child(1) {
        margin-left: 20px;
        margin-right: 0;
    }
    ul.menu li:nth-child(2), ul.menu li:nth-child(4) {
        float: right !important;
        margin-right: 0;
    }
    ul.menu li:nth-child(3) {
        margin-left: 35px;
        margin-right: 0;
    }
}
@media screen and (max-width: 660px) {
    #s_mid {
         width: 92%;
    }
}
@media screen and (max-width: 560px) {
    #s_mid {
         width: 88%;
    }
    ul.menu li a {
        font-size: 14px;
    }
}   
@media screen and (max-width: 420px) {
    #s_mid {
         width: 83%;
    }
}
@media screen and (max-width: 350px) {
       ul.menu li a {
        font-size: 12px;
    }  
}
/*responsive design end*/

/*hamburger menu end*/

/* Global Styling*/
.coming_soon {
    position: relative;
    width: 96%;
    left: 20px;
    top: 45%;
    color: #ade4bb;
    font-size: 26px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clear {
    clear: both;
}
.overflow_hidden {
    overflow-y: hidden;
}
.box {
    display: inline;
}
.fixed {
    position: fixed;
}
.mid {
    border-left: 1px solid;
    border-right: 1px solid;
}
.logo_small {
    width: 120px;
    margin: 2px 0 0 10px;
}
.right, .ul_right {
    float: right;
}
.left, .ul_left {
    float: left;
}

.hidden {
    visibility:hidden;
}
/*Icon styling*/
img { 
    -ms-interpolation-mode: bicubic; 
}
span.new {
    color: #f9ee95;
    font-weight: bold;
    margin-right: 10px;
}
div.padding {
    width: 96%;
    height: 100%;
    padding: 0 2%;
}
.ra_content {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f9ee95;
    text-align: left;
}
    .ra_line_1 {
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
    }

img.hot {
    position: absolute;
    left: -28px;
    width: 22px;
}
img.new {
    position: absolute;
    width: 30px;
    left: -36px;
}
img.random {
    position: absolute;
    width: 40px;
    left: -44px;
} 
img.community {
    position: absolute;
    width: 30px;
    left: -38px;
}

/*Use the force begin - Boyyoka-san*/
form > .hundred_percent_gucci {
    width: 100%;
    margin: 0;
    height: 320px;
}
.gucci_baby {
    line-height: 14px !important;
}
.more_gucci {
        background: #2f2f2f;
        width: 33%;
        height: 30px;
        float: left;
        font-weight: bold;  
        border-color: #5a5a5a;  
    }
    .more_gucci a {
          text-align: center;
          line-height: 28px;
    }
.the_incredible_gucci {
    width: 22px;
}
/*Use the force end - gucci babi xaaxaxaxa*/
.f_left {
    position: relative;
    float: left;
}
.f_right {
    position: relative;
    float: right;
}
.menu_in_the_middle {
    position: relative;
    float: right;/*okay it's not really in the middle, shout out to malcolm in the middle, tho*/
}
    .menu_in_the_middle ul.menu {
        min-width: 305px;
        height: 35px;
        margin: 13px 25px 0 0;
    }
        .menu_in_the_middle ul.menu li {
            position: relative;
            margin: 0 0 0 60px;
        }
            .menu_in_the_middle ul.menu li:first-child {
                margin: 0;
            }
            .menu_in_the_middle ul.menu li img {
                position: relative;
                opacity: 1;
                float: left;
                padding: 0;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                -o-transition: opacity 0.25s ease;
                -moz-transition: opacity 0.25s ease;
                -khtml-transition: opacity 0.25s ease;
                -webkit-transition: opacity 0.25s ease;
                -ms-transition: opacity 0.25s ease;
                transition: opacity 0.25s ease;
            }
                .menu_in_the_middle ul.menu li img.hot {
                    top: 0px;
                }
                .menu_in_the_middle ul.menu li img.new {
                    top: 4px;
                }
                .menu_in_the_middle ul.menu li img.random, .menu_in_the_middle ul.menu li img.community {
                    top: 8px;
                }
            .menu_in_the_middle ul.menu li a {
                font-size: 16px;
            }        
            .menu_in_the_middle ul.menu li a span{
                display: block;
                visibility: hidden;
                position: absolute;
                height: 84%;
                line-height: 32px;
                white-space: nowrap;
                cursor: pointer;
                -o-transition: visibility 0.1s ease;
                -moz-transition: visibility 0.1s ease;
                -khtml-transition: visibility 0.1s ease;
                -webkit-transition: visibility 0.1s ease;
                -ms-transition: visibility 0.1s ease;
                transition: visibility 0.1s ease;                            
            }
                .menu_in_the_middle ul.menu li a.hot span {
                    left: -40px;
                }
                .menu_in_the_middle ul.menu li a.new span {
                    left: -18px;
                }
                .menu_in_the_middle ul.menu li a.random span {
                    left: -16px;
                }
                .menu_in_the_middle ul.menu li a.community span {
                    left: -40px;
                }              
                .menu_in_the_middle ul.menu li a:hover img {
                    filter: alpha(opacity=0);  
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
                    opacity: 0;
                }
                .menu_in_the_middle ul.menu li a:hover span {
                    visibility: visible;            
                }
textarea:focus, input:focus{
    outline: 0;
}
a {
    text-decoration: none;
}
    a img {
        border: none;
    }
img:focus, input:focus, textarea:focus, a:focus {
    outline: 0;
}
b {
    color: #cacaca;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #d3d3d3;
}
p {
    margin: 0;
}
    p.acc{
        float: right;
        line-height: 30px;
        
    }
html {
    height: 100%;
}
body {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("../Content/Images/bg_body.png");
    background-color: #CCC;
    font-family: 'Century Gothic', 'Muli', sans-serif;
    font-size: 14px;
    color: silver;
}
/*Miscellaneous styling begin*/
.c_border {
    width: 100%;
    height: 5px;
    background: url("../Content/Images/bg_head_top.png");
    z-index: 50;
}
#user_bar_slim, #user_bar_phat {
    position: relative;
    background: url("../Content/Images/bg_head_top.png");
    width: 100%;
    font-size: 14px;
}
    #user_bar_slim {
        height: 30px;
    }
    #user_bar_phat {
        height: 55px;
        z-index: 500;
    }
        a.cub {
            float: left;
            padding: 5px 10px;
            color: #ade4bb;
            border-right: 1px solid #343436;
        }
            a.cub:hover {
                color: #FFF;
            }
    #user_bar_slim ul li, #user_bar_phat ul li {
        float: left;
        color: #FFBF35;
        border-left: 1px solid #343436;
    }
         #user_bar_slim ul li a, #user_bar_phat ul li a {
            color: #d3d3d3;      
         }
            #user_bar_slim ul li a:hover, #user_bar_phat ul li a:hover {
                color: #FFF;
            }
        #user_bar_slim ul li{
            padding: 5px 10px;
        }

        #user_bar_phat ul li {
            padding: 19px 10px
        }
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
    #mid_content {
        position: relative;
        width: 100%;
        margin: 0 0 50px;
        text-align: center;
    }
        #tag_box {
            position: relative;
            width: 98%;
            height: 98%;
            padding: 1%;
        }
            #tag_container {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
            }
            .tag_name {
                background: url("../Content/Images/t_mid_rep.png");
                position: absolute;
                left: 0;
                width: 100%;
                height: 25px;
                bottom: -25px;
                z-index: 1100;
            }
            .tag{
                z-index: 300;
                color: silver;
            }
            .tag > img {
                z-index: 301;
            }
    .hor_shadow {
        position: relative;
        background: url("../Content/Images/top_shadow.png") repeat-x;
        width: 100%;
        height: 2px;
    }
    .vert_shadow {
        position: relative;
        background: url("../Content/Images/top_shadow.png") repeat-y;
        height: 100%;
        width: 2px;
        float: left;
    }
    #user_bar_phat .hor_shadow {
        position: absolute;
        top: 55px;
        z-index: 501;
    }
    #footer {
        position: relative;
        background: url("../Content/Images/bg_head_top.png");
        width: 95.9%;
        height: 100px;
        max-width: 96%;
        padding: 10px 2%;
        font-size: 14px;
        text-align: right; 
    }
        #footer p {
            margin: 14px 0;
            font: inherit;
            color:#5a5a5a;
        }
        #footer ul {
            position: relative;
            padding: 0;
            margin: 0;
            float: right;
        }
            #footer ul li {
                list-style: none;
                float: left;
                margin: 0 0 0 15px;
            }
                #footer ul li a {
                    color: #d8ade4;          
                }
                    #footer ul li a:hover, a:focus {
                        color: #FFF;
                    }
/*Miscellaneous styling end*/

/*Global homepage styling begin*/
#top {
    position: relative;
    margin: 40px auto 0;

}
    .logo_wrap {
        width: 210px;
        margin: 3% auto 40px;
    }
    .content_wrap {
        position: relative;
        margin: 0 auto;
    }
        #top_content {
            position: relative;
            min-height: 144px;
        }
            #s_wrap {
                position: relative;
                padding: 30px 3% 0;
                height: 40%;
            }
            .s_wrap_small {
                position: relative;
                width: 245px;
                height: 30px;
                float: right;
                margin: 13px 10px 0;
            }
            ul.menu {
                position: relative;
                height: 40px;
                margin: 20px auto 0;
            }
                ul.menu li {
                    position: relative;
                    margin: 0 40px;
                    float: left !important;
                    border: none !important;
                    padding: 0 !important;
                }
                    
                    ul.menu li.hot {
                        margin-left: 0;
                    }
                    ul.menu li.community {
                        margin-right: 0;
                    }
                    ul.menu li a {
                        color: #CACACA;
                        font-style: italic;
                        -o-transition: 0.25s ease;
                        -moz-transition: 0.15s ease;
                        -khtml-transition: 0.15s ease;
                        -webkit-transition: 0.15s ease;
                        -ms-transition: 0.15s ease;
                        transition:  0.15s ease;
                    }
                        ul.menu li a:hover {
                            color: #FFF;
                            border-bottom: 3px solid #FFF;
                        }
                        ul.menu li a img {
                            padding:  0 15px 0 0;
                        }
            #menu_wrap {
                position: relative;
            }
/*Global homepage styling end*/

/*Kaslider styling begin*/
#featured_wrap {
    position: relative;
    min-width: 320px;
    width: 100%;
    margin: 40px 0;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    z-index: 40;
}
    .g_l {
        position: absolute;
        top: 5px;
        left: 0;
        background: url("../Content/Images/g_l_2.png") repeat-y;
        width: 90px;
        height: 300px;
        z-index: 1008;
    }
    .g_r {
        position: absolute;
        top: 5px;
        right: 0;
        background: url("../Content/Images/g_r_2.png") repeat-y;
        width: 90px;
        height: 300px;
        z-index: 1008;
    }
    #featured {
        position: relative;
        width: 100%;
        height: 300px;
    }
        .featured_src {
            display:none;
        }
    .featured_walls {
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
        .featured_walls > img {
            position: absolute;      
        }
        .featured_slide {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;     
        }
        .featured_thumb {
            background: url("../Content/Images/bg_body.png");
            position: absolute;
            width: 120px;
            height: 75px;
            padding: 4px;
            border: 4px solid #191919;

            overflow: hidden;
            z-index: 1100;
        }
            .featured_thumb > img {
                position: relative;
                width: 150px;
                height: 150px;
                bottom: 30px;
                right: 15px;
            }
    ul.pagination {   
        position: absolute;
        display: block;
        z-index: 1009;
    }
       ul.pagination li {
            display: block;
            position: relative;
            background: url("../Content/Images/pager.png") no-repeat;
            float: left;
            height: 18px;
            width: 18px;
            margin: 0 0 0 14px;
            cursor: pointer;
            z-index: 1010;
        }
            ul.pagination li.focus {
                background: url("../Content/Images/pager_focus.png") no-repeat;
            }
/*Kaslider styling end*/

/*Search bar styling begin*/
#c_search {
    position: relative;
}
#search_box_wrap {
        position: relative;
        width: 100%;
    }
#s_mid {
    position: relative;
    left: 30px;
    background: url("../Content/Images/s_mid.png") repeat-x;
    height: 56px;
    float: left;
    border: none;
    color: #FFF;
}   
.s_left {
    position: absolute;
    left: 0;
    background: url("../Content/Images/s_left.png") no-repeat;
    width: 30px;
    height: 56px;
    z-index: 10;
}
/*oh wupsie, it doesnt rly float to the right :^)*/
.s_right {
    position: absolute;
    right: 0;
    background: url("../Content/Images/s_right.png") no-repeat;
    width: 30px;
    height: 56px;
    z-index: 10;
}
#s_mid_small {
    position: relative;
    background: url("../Content/Images/s_mid_small.png") repeat-x;
    height: 32px;
    float: left;
    border: none;
    color: #FFF;
}
.s_left_small {
    position: relative;
    background: url("../Content/Images/s_left_small.png") no-repeat;
    width: 11px;
    height: 32px;
    float: left;
    z-index: 10;
}
.s_right_small {
    position: relative;
    background: url("../Content/Images/s_right_small.png") no-repeat;
    width: 12px;
    height: 32px;
    float: left;
    z-index: 10;
}
.s_btn {
    position: absolute;
    top: 10px;
    right: 14px;
    background: url("../Content/Images/s_btn.png") no-repeat;
    width: 36px;
    height: 36px;
    border: none;
    z-index: 20;
    cursor: pointer;
}
.s_btn_small {
    position: absolute;
    top: 5px;
    right: 2px;
    background: url("../Content/Images/s_btn_small.png") no-repeat;
    width: 24px;
    height: 23px;
    border: none;
    z-index: 20;
    cursor: pointer;
}
#opts {
    position: absolute;
    top: 10px;
    right: 48px;
    background: url("../Content/Images/opts.png") no-repeat;
    width: 38px;
    height: 38px;
    border: none;
    z-index: 21;
    cursor: pointer;
}

#upload {
    position: absolute;
    top: 10px;
    right: 84px;
    background: url("../Content/Images/upload.png") no-repeat;
    width: 38px;
    height: 38px;
    border: none;
    z-index: 21;
    cursor: pointer;
}

/*Search bar styling end*/

/*Advanced options styling begin*/
#a_opts_wrap {
    display: none;
    margin: 20px 0;
    height: 100%;
}
.a_opts_sect {
    background: url("../Content/Images/bg_body.png");
    width: 98%;
    height: 200px;
    padding: 0 1%;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    float: left;
}

.a_opts_sect_mid {
    background: url("../Content/Images/bg_head_top.png");
    width: 98%;
    padding: 0 1%;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    float: left;
}
    .sect_top {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #373737;
    }
        .sect_top p, .sect_bottom p {
            width: 180px;
            margin: 0 0 10px 2px;
            font-size: 14px;
            font-weight: bold;
            color: #d5d5d5;
        }
    .sect_bottom {
        position: relative;
        padding: 20px 0;
    }
        ul li.filter {
            display: block;    
        }

        ul li.filter a {
            display: block;
            padding: 1px 0;
            color: #d5d5d5;
            font-weight: bold;      
        }
        .selected {
            background: url("../Content/Images/bg_option_l.png") !important;
        }
            ul li.filter.selected a {
                display: block;
                padding: 1px 0;
                text-align: center;
                color: #3b3b3b;
            }
            ul.c_wrap {
                position:relative;
                background: url("../Content/Images/bg_option_d.png");
                width: 100%;
                height: 30px;
                cursor: pointer;
            }
                li.c_type {
                    display: block;
                    background: url("../Content/Images/bg_option_l.png");
                    height: 30px;
                    padding: 0 5px;
                    float: left;
                    overflow: hidden;
                    line-height: 30px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                }
                    .c_type_attr {
                        display: block;
                        height: 30px;
                        color: #3b3b3b;
                    }
                        .c_type_attr:hover {
                            text-decoration: underline;
                        }
                li.c_list_box {
                    width: 30px;
                    height: 30px;
                    padding: 0 0 0 10px;
                    float: left;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 30px;               
                }
                    a.selected_opt {
                        color: #d8ade4;
                    }
                .arrow {
                    position: absolute;
                    top: 13px;
                    right: 10px;
                }
                .double_arrow {
                    position: absolute;
                    top: 8px;
                    right: 5px;
                }
                .c_options {
                    position: absolute;
                    display: none; 
                    width: 96%; 
                    background: #313131;
                    padding: 1% 2%;
                    font-size: 12px;
                    z-index: 100;
                }

                .c_options_thumbs {
                    width: 39px;
                }
                    .c_reso_w, .c_reso_h {
                        background: #313131;
                        width: 50px;
                        border: 1px solid #5a5a5a;
                        color: #d5d5d5;
                    }
                    .c_options input[type="text"] {
                        float: left;
                    }
                    .c_options a:hover {
                        background: #ade4bb;
                        color: #191919;
                    }
                    ul.left {
                        background: #191919;
                        width: 46%;
                        height: 210px;
                        padding: 1%;
                        float: left;
                    }
                    ul.right {
                        background: #191919;
                        width: 46%;
                        height: 210px;
                        padding: 1%;
                        float: right;
                    }
                    ul.thumb {
                        min-width: 39px;
                    }
                    ul.cat, .outer_reso_box {
                        min-width: 267px;
                    }
                    #c_reso_box {
                        background: #191919;
                        min-height: 100px;
                        margin: 10px 0 0;
                        padding: 1%;
                    }
                        .c_options p {
                            width: 100%;
                            color: #ade4bb;
                        }
                        a.link_option {
                            display: block;
                            color: #d5d5d5;
                            font-weight: bold;
                            margin: 2px 0;
                        }
                    .c_dropdown {
                        position:relative;
                        background: url("../Content/Images/bg_option_d.png");
                        width: 50px;
                        height: 30px;
                        cursor: pointer;
                    }
/*Advanced options styling end*/

/*Content Box styling begin*/
.content_box_wrap {
    position:relative;
    display: inline-block;
    *display: inline;
    width: 30%;
    zoom: 1;
    margin: 0 1%;
}
    .content_box_title_wrap {
        position: relative;
        height: 60px;
    }
        .content_box_title {
            position: absolute;
            bottom: 17px;
            left: 45px;
            font-size: 18px;
            color: #cacaca;
        }
        .content_box_title_wrap img {
            left: 5px;
        }
    .content_box {
        position: relative;
        height: 500px;
    }
       
    .t_l_edge {
        position: absolute;
        top: 0;
        left: 0;
        background: url("../Content/Images/t_l_edge.png");
        width: 8px;
        height: 8px;
    }
    .t_r_edge {
        position: absolute;
        top: 0;
        right: 0;
        background: url("../Content/Images/t_r_edge.png");
        width: 8px;
        height: 8px;
    }
    .b_l_edge {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../Content/Images/b_l_edge.png");
        width: 4px;
        height: 4px;
    }
    .b_l_edge{
        position: absolute;
        bottom: -4px;
        left: 0;
        background: url("../Content/Images/b_l_edge.png");
        width: 4px;
        height: 4px;
    }
    .b_r_edge {
        position: absolute;
        bottom: -4px;
        right: 0;
        background: url("../Content/Images/b_r_edge.png");
        width: 4px;
        height: 4px;
    }
    .content_box_t {
        position: absolute;
        top: 0;
        left: 2px;
        background: url("../Content/Images/t_top_rep.png") repeat-x;
        width: 99%;
        height: 8px;
        float: right; 
    }
    .content_box_l {
        position: absolute;
        top: 3px;
        left: 0;
        background: url("../Content/Images/t_left_rep.png") repeat-y;
        width: 8px;
        height: 100%;
        float:left;
    }
    .content_box_m {
        background: url("../Content/Images/t_mid_rep.png") repeat;
        width: 100%;
        height: 100%;
    }
    .content_box_r {
        position: absolute;
        top: 3px;
        right: 0;
        background: url("../Content/Images/t_right_rep.png") repeat-y;
        width: 8px;
        height: 100%;
    }
    .content_box_b {
        position: absolute;
        bottom: -4px;
        left: 4px;
        background: url("../Content/Images/t_bottom_rep.png") repeat-x;
        width: 99%;
        height: 4px;
    }
/*Content Box styling end*/

/*User profile styling begin*/
#usr_prf_content {
    min-width: 950px;
    height: 960px;
    padding: 0 0 0 10px;
}
    #usr_name {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        margin: 0 0 20px 25px;
    }
        .title_usr {
            font-size: 36px;
            color: #c0c0c0;
        }
    #usr_left {
        position: fixed;
        width: 235px;
        height: 100%;
        padding: 0 0 0 25px;
        top: 110px;
        left: 0px;
    }
        #usr_left .frm_div, .wallpaper_details .frm_div {
            margin: 20px 0;
        }

        #avatar_wrap {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 0 10px;
            border: 2px solid rgba(92, 93, 102, 0.15);
            float: left;
        }
            #avatar_wrap::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                -webkit-box-shadow: inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow:    inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);
                box-shadow:         inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);     
            }
            #avatar_wrap > img {
                float: left;
                width: 200px;
                height: 200px;
            }
        ul.user_details {
            width: 100%;
            max-width: 250px;
            min-width: 160px;
        }
            ul.user_details li {
                line-height: 16px;
                margin: 0 0 10px;
            }
                ul.user_details li .right {
                    float: right;
                }
        #usr_right {
            position: relative;
            background: #4e4e4e;
            float: right;
            width: 82.5%;
            margin: 100px 0 0;
            -webkit-box-shadow: -8px -1px 8px 0px rgba(0, 0, 0, 0.40);
            -moz-box-shadow:    -8px -1px 8px 0px rgba(0, 0, 0, 0.40);
            box-shadow:         -8px -1px 8px 0px rgba(0, 0, 0, 0.40);  
        }
            #sticky_wrap {
                position: relative;
                width: 100%;
                padding: 0 0 30%;
            }
                #sticky_wall {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

            #comments_wrap {
                position: relative;
                width: 100%;
            }
                .comment {
                    position: relative;
                    background: #FFF;
                    width: 100%;
                }
                    .comment_details{
                        background: url("../Content/Images/bg_head_top.png") repeat-x;
                        height: 25px;
                        padding: 5px 0;
                        
                    }
                        .comment_details ul.details li {
                            float: left;
                            margin: 3px 0 0 10px;
                        }
                            .comment_details ul.details li:first-child {
                                margin-top: 0;
                            }
                            .comment_details ul.details li.small {
                                margin-left: 2px;
                                font-size: 10px;
                                font-weight: bold;
                            }
                .comment_avatar {
                    position: relative;
                    height: 180px;
                    width: 180px;
                    float: left;
                    overflow: hidden;
                    z-index: 10;
                }
                    .comment_avatar > img {
                      
                        height: 100%;
                    }
                .comment_content {
                    position: relative;
                    height: 180px;
                    width: 74%;
                    float: right;
                }
                     @media screen and (min-width: 1148px) {
                        .comment_content{
                            width: 78%;
                        }
                    }
                    @media screen and (min-width: 1319px) {
                        .comment_content{
                            width: 82%;
                        }
                    }
                    .mr_cheat {
                        position: absolute;
                        background: #c0c0c0;
                        height: 25px;
                        width: 100%;
                        bottom:0;
                        z-index: 1;
                    }
                    .comment_text {
                       padding: 15px 30px 5px 5px;
                       color: #303030;
                       font-size: 14px;
                    }
                    .comment_reply {
                        position: absolute;
                        background: #c0c0c0;
                        border: none;
                        width: 100%;  
                        height: 25px; 
                        padding:0;
                        bottom: 0;
                        z-index: 50;
                    }
@media screen and (max-width: 1300px) {
    #usr_right{
        width: 76%;
    }
}
/*User profile styling end*/

/*Login/Register styling begin*/
.c_form {
    width: 75%;
    min-width: 320px;
    max-width: 600px;
    height: 320px;
    margin: 0 auto;
}
    .form_wrap {
        background: url("../Content/Images/bg_head_top.png");
        border: 1px solid #373737;
        padding: 20px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 1);
        box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 1);
    }
        .attr_group {
            height: 20px;
            margin: 20px 0 0 0;
        }
        .frm_div {
            width: 100%;
            height: 0px;
            margin: 20px 0 40px;
            border-top: 2px solid #121212;
            border-bottom: 1px solid #373737;         
        }
            .c_form label {
                float: left;
                color: #8d8d8d;
            }
            .attr_right {
                float: right;
                width: 75%;
            }
                .attr_right span {
                    float: left;
                    font-size: 12px;
                    font-weight: bold;
                    color: #d8ade4;
                }
                .c_form input[type="text"], .c_form input[type="password"] {
                     width: 100%;
                     float: right;
                     color: #d4d4d4;
                     background: none;
                     border-top: none;
                     border-left: none;
                     border-right: none;
                     border-bottom: 1px solid #8d8d8d;
                }
                    .c_form input[type="text"]:focus, .c_form input[type="password"]:focus {
                        border-bottom: 2px solid #CCC;
                        transition: linear 0.1s;
                    }
                .c_btn {
                    display: block;
                    background: url("../Content/Images/bg_btn_l.png");
                    float: left;/*hmm? double?*/
                    height: 30px;
                    width: 120px;
                    color: #1b1b1b;
                    font-weight: bold;
                    border: 1px solid #3b3b3b;
                    cursor: pointer;
                    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow:    0px 0px 1px 0px rgba(0, 0, 0, 0.5);
                    box-shadow:         0px 0px 1px 0px rgba(0, 0, 0, 0.5);
                }
                    a.c_btn {
                        width: 40px;
                        float: left;
                        height: 18px;
                        border: 1px solid #1b1b1b !important;
                        box-shadow: none;
                        border: none;
                        text-align: center;
                    }
                    .c_btn:hover {
                        background: url("../Content/Images/bg_btn_l_hov.png");
                    }
/*Login/Register styling end*/

/*Wallpaper page styling begin*/
.wallpaper_tags {
    position: relative;
}

.wrapper {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.wallpaper_details {
    position: relative;
    background: url("../Content/Images/bg_head_top.png");
    width: 25%;
    max-width: 250px;
    min-width: 175px;
    height: 100%;
    padding: 5px 25px;
    float: left;
    top: -1px;
    z-index: 500;
}
.wallpaper_wrap {
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .stage-1 {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 90%;
        max-height: 90%;
        cursor: zoom-in;
    }
    .stage-2 {
       /* max-width: 120%;*/
        max-height: 100%;
        cursor: zoom-in;
    }
    .stage-3 {
        max-width: none;
        max-height: none;
        cursor: zoom-out;
    }
/*Wallpaper page styling end*/

/*Upload page styling begin*/
#dropzoneForm {
    position: relative;
    min-width: 280px;
    min-height: 300px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
    .dz-preview {
        position: relative;
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 244px;
        margin: 30px;
    }
        .dz-image {
            position:relative;       
            border: 2px solid rgba(92, 93, 102, 0.15);
            height: 180px;
            overflow: hidden;
        }
        
            .dz-image::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 19px;
                right: 0;
                -webkit-box-shadow: inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow:    inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);
                box-shadow:         inset -5px 0px 10px 5px rgba(0, 0, 0, 0.75);     
            }
        .dz-success-mark, .dz-error-mark, .dz-filename {
            display: none;
        }
.dz-size {
    float: left;
}
.dz-resolution {
    position: absolute;
    bottom: 19px;
    background: url("../Content/Images/t_mid_rep.png");
    width: 100%;
    height: 35px;
    line-height: 30px;
    text-align: center;
}
.dz-error-message {
    display: none;
    position: absolute;
    background: #fb5958;
    width: 244px;
    height: 178px;
    top: 2px;
    left: 0;
    overflow: hidden;
    color: #FFF;
    opacity: 0.7;
    line-height: 30px;
    z-index: 75;
}
.dz-progress { 
    display: none;
    position: relative;
    height: 10px;
    padding: 5px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.dz-progress > span {
  display: block;
  position: relative;
  height: 100%;
  width: 0%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
  background-image: -moz-linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}
.dz-progress > span:after, .animate > span > span {
  position: absolute;
  content: "";
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}
a.dz-remove {
    display: none;
    position:absolute;
    background: url("../Content/Images/delete.png") no-repeat;
    background-size: 50px;
    top: 75px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 5;
}
   .dz-preview:hover > a.dz-remove {
            display: block;
            -webkit-opacity: 0.7;
            -moz-opacity: 0.7;
            opacity: 0.7;     
        }
h2.upload_h2 {
    width: 80%;
    margin: 20px auto;
}
/*Upload page styling end*/

/*Tag style begin*/
.tags {
    position: absolute;
    width: 100%;
    height: 35px;
    overflow: hidden;
    z-index: 1;
}
.tags_container {
    display: none;
    position: relative;
    background: url("../Content/Images/t_mid_rep.png");
    width: 90%;
    height: 34px;
    padding: 3px 5%;
}
    .opts_item {
        height: 20px;
        padding: 2px;
    }

        .opts_item:hover {
            color: #FFF;
        }
        .opts_label {
            display:inline-block;
        }
        .opts_toggle {
            display: inline-block;
            position: absolute;
            right: 0;
            background: url("../Content/Images/opts_off.png") no-repeat;
            background-size: 30px;
            height: 13px;
            width: 30px;
            cursor: pointer;
        }
            .opts_toggle:focus, .opts_togle:active {
                background: url("../Content/Images/opts_on.png") no-repeat;
            }
.add_tag {
    position: absolute;
    background: url("../Content/Images/add_tag.png") no-repeat;
    top: 5px;
    left: 5px;
    width: 73px;
    height: 28px;
    cursor: pointer;
    z-index: 50;
}
.add_tag_hover {
    display: none;
    position: absolute;
    background: #ffecb1;
    color: #1b1b1b;
    width: 75px;
    height: 20px;
    top:  -30px;
}
.add_tag:hover {
    background: url("../Content/Images/add_tag_hover.png") no-repeat;
}
.add_tag:hover > .add_tag_hover {
    display: block;
}
.tag_wrap {
    display: inline-block;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.tag_left {
    position: relative;
    background: url("../Content/Images/tag_left.png") no-repeat;
    width: 19px;
    height: 28px;
    float: left;
}
.tag_mid {
    position: relative;
    background: url("../Content/Images/tag_mid.png") repeat-x;
    min-width: 30px;
    height: 28px;
    padding: 0 5px;
    float:  left;
    line-height: 28px;
    font-size: 10px;
    color: #ade4bb;
}
.tag_right {
    position: relative;
    background: url("../Content/Images/tag_right.png") no-repeat;
    width: 12px;
    height: 28px;
    float: left;
}
.tag_opts_btn {
    position: absolute;
    background: url("../Content/Images/tag_opts.png") no-repeat;
    cursor: pointer;
    bottom: 23px;
    right: 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 55;
}
     .tag_opts_btn:hover {
        background: url("../Content/Images/tag_opts_hov.png") no-repeat;
    }
.tag_opts_container {
    display: none;
    position: absolute;
    right: 0;
    bottom: 54px;
    background: url("../Content/Images/t_mid_rep.png");  
    width: 50%;
    height: 65px;
    font-size: 11px;
    z-index: 50;
}
    .item_label {
        cursor: pointer;
    }
input.tag_input {
    background: none;
    width: 100%;
    height: 75%;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #CCC;
}
/*Tag style end*/

/*Wallpaper search style begin*/
.page_splitter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 10px;
}
    .page_splitter::before {
        content: "";
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 21;
        -webkit-order: 20;
        -ms-flex-order: 20;
        order: 20;
        height: 0;
        margin: 0 15px;
        border: 1px solid #5a5a5a;
    }
    #container .jscroll-inner > .page_splitter::before {
        display: none;
    }
.search_result {
    width: 98%;
    min-width: 320px;
    min-height: 70%;
    margin: 0 1%;
    padding: 20px 0px;
    text-align: center;
}
    .search_result .dz-preview .dz-details .dz-resolution {
        display: none;
        height: 28px;
        bottom: 1px;
    }
/*Wallpaper search end*/