﻿<ul class="menu">
    <li class="hot"><a class="hot" href="#"><img class="hot the_incredible_gucci" src="@Url.Content("/Content/Images/hot.png")" /><span>WHAT'S HOT</span></a></li>
    <li class="new"><a class="new" href="/new"><img class="new" src="@Url.Content("/Content/Images/new.png")" /><span>RECENT</span></a></li>
    <li class="random"><a class="random" href="#"><img class="random" src="@Url.Content("/Content/Images/random.png")" /><span>RANDOM</span></a></li>
    <li class="community"><a class="community"href="#"><img class="community" src="@Url.Content("/Content/Images/forum.png")" /><span>COMMUNITY</span></a></li>
</ul>
